<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/vendor/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/stylesheets/vendor/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">

	<script src="/javascripts/vendor/jquery-2.1.1.min.js"></script>
	<script src="/javascripts/vendor/bootstrap.min.js"></script>
	<script src="/javascripts/vendor/moment.min.js"></script>
	<script src="/javascripts/vendor/bootstrap-datetimepicker.min.js"></script>

	<script src="/javascripts/Main.js"></script>
	<script src="/javascripts/ActionsView.js"></script>
	<script src="/javascripts/CategoriesView.js"></script>
	<script src="/javascripts/SearchView.js"></script>
	<script src="/javascripts/TweetView.js"></script>

	<script type="text/javascript" src="/javascripts/noty/packaged/jquery.noty.packaged.min.js"></script>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Mashable #1connection Dashboard</a>
        </div>
      </div>
    </div>

	<div class="container">

		<div class="row">
	        <div class='col-sm-12'>
	        	<div id="actionsView" class="panel panel-danger">
	        		<div class="panel-heading">Campaign Actions</div>
					<div class="panel-body text-center">
            			<button class="btn btn-success btn-search">Gather Tweets</button>
            			<button class="btn btn-success btn-export"><span class="glyphicon glyphicon-download-alt"></span></button>
            			<button class="btn btn-success btn-classify">Classify Valid Users</button>
            			<button class="btn btn-success btn-match">Match Users</button>
            			<button class="btn btn-success btn-send">Send Tweets</button>
					</div>
				</div>
	        </div>
	    </div>

	    <div class="row">

	        <div class='col-sm-6'>

	        	<div id="statusView" class="panel panel-default">
	        		<div class="panel-heading">Campaign Status</div>
					<div class="panel-body">
						<ul class="list-unstyled">
            				<li><span class="glyphicon glyphicon-ok"></span> Gathered all tweets</li>
            				<li><span class="glyphicon glyphicon-exclamation-sign"></span> 5 users were flagged</li>
            				<li><span class="glyphicon glyphicon-exclamation-sign"></span> 3 tweets were flagged</li>
            				<li><span class="glyphicon glyphicon-ok"></span> Classified all valid users</li>
            				<li><span class="glyphicon glyphicon-ok"></span> Matched all users</li>
            				<li><span class="glyphicon glyphicon-ok"></span> Sent all tweets</li>
            			</ul>

            			<div class="final-message" class="font-size-large" style="font-weight: bold;">
            				<span class="glyphicon glyphicon-thumbs-up"></span> Mission Accomplished!
            			</div>
					</div>
				</div>

	        </div>

			

	        <div class='col-sm-6'>

	        	<div id="searchView" class="searchView panel panel-default">
	        		<div class="panel-heading">Search Settings</div>
					<div class="panel-body">

						<div class="form-group">

							<div class="form-group">
								<label for="search-query">Query</label>
								<input type='text' class="search form-control" id="search-query" value="<%= settings.search %>" />
							</div>

							<div class="form-inline">
								<div class="form-group">
									<label for="search-query">Start Date (GMT)</label>
									<div class='input-group date datetimepicker' id='startDate' data-date-format="MM/DD/YYYY hh:mm A">
							        	<input type='text' class="startDate form-control" id="start-date" />
							        	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							    	</div>
								</div>

							    <div class="form-group">
									<label for="search-query">End Date (GMT)</label>
									<div class='input-group date datetimepicker' id='endDate' data-date-format="MM/DD/YYYY hh:mm A">
							        	<input type='text' class="endDate form-control" id="end-date" />
							        	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							    	</div>
								</div>
							</div>

							<script>
								var start = "<%= settings.start_date %>00";
								var start_str = (start.substr(4,2)) + '/'
											+ start.substr(6,2) + '/'
											+ start.substr(0,4) + ' '
											+ start.substr(8,2) + ':'
											+ start.substr(10,2);

								var end = "<%= settings.end_date %>00";
								var end_str = (end.substr(4,2)) + '/'
											+ end.substr(6,2) + '/'
											+ end.substr(0,4) + ' '
											+ end.substr(8,2) + ':'
											+ end.substr(10,2);

								$('#startDate').datetimepicker({
        							format: 'YYYY-MM-DD hh:mm',
        							defaultDate: start_str
								});
								$('#endDate').datetimepicker({
        							format: 'YYYY-MM-DD hh:mm',
        							defaultDate: end_str
								});
							</script>
							
            				<button type="submit" class="btn btn-success" id="save-settings">Save Settings</button>

						</div>
					</div>
				</div>

	        </div>

	    </div>

	    <div class="row">

	    	<div class='col-sm-6'>
	        	<div id="tweetView" class="panel panel-default">
	        		<div class="panel-heading">Message Settings</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="tweet-template">Tweet Template</label>
							<textarea class="form-control" rows="3" id="tweet-template"><%= settings.tweet %></textarea>
							<span class="help-block">The reply tweet sent to all paired users.  {{user1}} and {{user2}} will be replaced by the screen names of the matched users.</span>
						</div>
            			<button id="saveTemplateBtn" type="submit" class="btn btn-success">Save Template</button>
					</div>
				</div>
	        </div>

	        <div class='col-sm-6'>
	        	<div id="categoriesView" class="panel panel-default">
	        		<div class="panel-heading">Classifications from Corpus</div>
					<div class="panel-body">
						<div class="label-container">
						</div>
            			<!--<button id="reloadBtn" type="submit" class="btn btn-success">Reload</button>-->
					</div>
				</div>
	        </div>
	     </div>

	</div>

</body>
</html>